<!-- This header component will be added to the first line of every other components .html file.-->
<div class="row">
    <img src="../../assets/images/logo.png" alt="Barclay's Premier League Logo" height="100">
    <h1>Premier League 2011-2020</h1>
</div>

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teamstats">Team Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/seasons">Seasons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shots">Shots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </nav>